[gcode_macro AFC_PREP]
description: AFC prep helper scaffold
gcode:
  RESPOND MSG="AFC prep scaffold enabled"
  M117 AFC Ready

[gcode_macro AFC_TOOLCHANGE]
description: AFC toolchange helper scaffold
gcode:
  RESPOND MSG="AFC toolchange scaffold"
  M117 AFC Toolchange
