[gcode_macro KAMP_SETUP]
description: KAMP include scaffold
gcode:
  RESPOND MSG="KAMP scaffold enabled"
  M117 KAMP Ready

[gcode_macro KAMP_SMART_PARK]
description: KAMP smart park scaffold
gcode:
  RESPOND MSG="KAMP smart park scaffold"
