[gcode_macro TIMELAPSE_TAKE_FRAME]
description: Timelapse frame scaffold
gcode:
  RESPOND MSG="Timelapse frame requested"

[gcode_macro TIMELAPSE_RENDER]
description: Timelapse render scaffold
gcode:
  RESPOND MSG="Timelapse render requested"
